<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top mt-auto">
    <p class="col-md-4 mb-0 text-muted">© 2022 Vlad Gromnatskiy Inc</p>
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        WeatherInfo
    </a>
    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/weather/Zhytomyr" class="nav-link px-2 text-muted">Weather</a></li>
    </ul>
</footer>