<header class="p-3 bg-info text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="/weather/Zhytomyr" class="nav-link px-2 text-white">Weather</a></li>
            </ul>
            <div class="text-end">
                <a href="/" class="align-items-center text-white text-decoration-none">
                    WeatherInfo
                </a>
            </div>
        </div>
    </div>
</header>