<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather page</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<body class="d-flex flex-column min-vh-100">
{{> header}}
<div style="border: 1px solid grey;margin: 50px;padding: 40px;">
    <div class="row"style="margin: 10px;">
        <h3 style="margin:auto;" ><center>Сервіс отримання данних про погоду</center></h3>
    </div>
    <div class="row"style="margin: 20px;">
        <a class="btn btn-primary"style="margin: auto"href="/weather/Zhytomyr"role="button">Сторінка погоди</a>
    </div>
</div>
{{> footer}}
</body>
</html>
