<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Weather page</title>
    </head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <body class="d-flex flex-column min-vh-100">
    {{> header}}
    <section id="main" class="mt-3">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="list-group">
                        <a href="/weather/Zhytomyr" class="list-group-item list-group-item-action">Zhytomyr</a>
                        <a href="/weather/Kyiv" class="list-group-item list-group-item-action">Kyiv</a>
                        <a href="/weather/Vinnytsia" class="list-group-item list-group-item-action">Vinnytsia</a>
                    </div>
                </div>
                <div class="col-6 col-md-8 col-lg-9">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Weather in {{data.name}}</h3>
                            <img src="http://openweathermap.org/img/wn/{{data.weather.0.icon}}.png" alt="">
                            <table class="table table-striped">
                                <tr>
                                    <th>Pressure</th>
                                    <td>{{data.main.pressure}}</td>
                                </tr>
                                <tr>
                                    <th>Humidity</th>
                                    <td>{{data.main.humidity}}</td>
                                </tr>
                                <tr>
                                    <th>Temperature</th>
                                    <td>{{data.main.temp}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> footer}}
    </body>
</html>
